<?xml version="1.0"?>
<config>
    <sections>
        <actonlytics>
            <label>Connect</label>
            <tab>actonlytics</tab>
            <sort_order>60</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <frontend_model>actonlytics_signup/content</frontend_model>
            <groups>
                <signup translate="label">
                    <label>Credentials</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_key translate="label">
                            <label>API key</label>
                            <sort_order>1</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_input>text</frontend_input>
                        </api_key>
                        <api_secret translate="label">
                            <label>Secret key</label>
                            <sort_order>2</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_input>text</frontend_input>
                        </api_secret>
                        <no_shop translate="label">
                            <label>Please select your shop from Configuration Scope before changing configuration.</label>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                        </no_shop>
                    </fields>
                </signup>
            </groups>
        </actonlytics>
    </sections>
</config>
